<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include('../partials/head', {account}) %>
      <script>
        function copy(target) {
          var copyText = target.parentNode.querySelector('input');
          copyText.select();
          document.execCommand("copy");
        }
      </script>
  </head>
  <body>
    <%- include('../partials/nav', {account}) %>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4 content-title">Welcome <%= account.username%> !</h1>
        <hr class="my-4"></hr>
      
  
        <h3>Your Configuration(s)</h3>
        <table id="web-list" class="table table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
                <th scope="col" align="center">Name</th>
                <th scope="col" align="center">Update</th>
                <th scope="col" align="center">Download (Mapping)</th>
                <th scope="col" align="center">Duplicate</th>
                <th scope="col" align="center">Remove</th>
            </tr>
          </thead>
        
          <tbody>
            <% webSiteList.forEach((webSite,i) => { %>
              <tr>
                <td><a href="/dashboard/website/update/<%=webSite.id %>"><%= webSite.name %></a> </td>
                <td><a href="/dashboard/website/update/<%=webSite.id %>"><i class="fas fa-wrench"></i></a></td>
                <td class="mapping-rule" name="<%= webSite.name %>"><a href="/" ><i class="fas fa-download"></i></a><span hidden><%= JSON.stringify(webSite.mappingList)%></span></td>
                <td><a href="/dashboard/website/duplicate/<%=webSite.id %>"><i class="fas fa-clone"></i></a></td>
                <td><a href="/dashboard/website/remove/<%=webSite.id %>" onclick="return confirm('Are you sure you want to remove this WebSite?');"><i class="fas fa-trash-alt"></i></a></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
        <a role="button" id="createWebListButton" class="btn btn-primary" href="/dashboard/website/create">Create New Configuration</a>
        <br/>
      </div>  
    </div>
  </body>
  </html>