<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <script src="/static/chart.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css" />
    </head>
    <body>
        <% include ../partials/nav %>
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">AIFEX </h1>
                <p class="lead">Improve the quality, efficiency and diversity of your exploratory test sessions</p>
                <hr class="my-4"></hr>
                <% if (session.name) { %>
                    <h3>
                        Bug reports of <a href="/dashboard/session/view/<%=connectionCode %>" ><%= session.name%></a>
                    </h3>
                <% } else { %>
                    <h3>Bug reports of <a href="/dashboard/session/view/<%=connectionCode %>" >unamed session</a></h3>
                <% } %>
    
                <br></br>

                <table id="session-details" class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" align="center">Id</th>
                            <th scope="col" align="center">Severity</th>
                            <th scope="col" align="center">Description</th>
                            <th scope="col" align="center">Date</th>
                            <th scope="col" align="center">Tester</th>
                            <th scope="col" align="center">Picture</th>
                            <th scope="col" align="center">Exploration</th>
                            <th scope="col" align="center">ExplorationVideo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% comments.forEach((comment) => { %>
                            <tr>
                                <td>
                                    <a href="/open/session/<%=connectionCode%>/exploration/<%=comment.explorationNumber%>/comment/<%=comment.index%>">
                                        <%=connectionCode %>_<%=comment.explorationNumber%>_<%=comment.index%>
                                    </a>
                                </td>
                                <td>
                                    <%= comment.kind %>
                                </td>
                                <td>
                                    <%= comment.value %>
                                </td>
                                <td>
                                    <%= (new Date(comment.date)).toUTCString() %>
                                </td>
                                <td scope="row">
                                    <%= comment.testerName %>
                                </td>
                                <td>
                                    <% if (screenshot.screenshotList.some(sc=> sc.explorationNumber == comment.explorationNumber && sc.interactionIndex == comment.index)) { %>
                                        <a href="/static/screenshot/<%=session.id%>_<%=comment.explorationNumber%>_<%=comment.index%>.jpg"><i class="fas fa-image" style="color:red"></i></a>
                                    <% } else { %>
                                            <i class="fas fa-image"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <button class="btn btn-primary" onclick="showExploration(<%=comment.explorationNumber%>)"> Show Exploration </button>
                                </td>
                                <td>
                                    <% if (video.videoList.some(vi=> vi == comment.explorationNumber)) { %>
                                        <a href="/static/video/<%=session.id%>_<%=comment.explorationNumber%>.webm"><i class="fas fa-video" style="color:red"></i></a>
                                    <% } else { %>
                                        <i class="fas fa-video-slash"></i>
                                    <% } %>
                                </td>
                            </tr>
                        <%})%>
                    </tbody>
                </table>
            </div>                    
        </div>


        
  
  <!-- Modal -->
  <div class="modal fade" id="explorationModal" tabindex="-1" aria-labelledby="explorationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="explorationModalLabel">Exploration</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="explorationModalBody">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    </body>
    <script>
        $(document).ready(function() {
            $('#session-details').DataTable();
        } );
    </script>

    <script defer>
        function copy() {
            var copyText = document.getElementById("serverURL");
            copyText.select();
            document.execCommand("copy");
        }
        document.getElementById("copy").addEventListener("click", copy);
    </script>

    <script>
        let explorations =JSON.parse('<%-JSON.stringify(session.explorationList)%>');
        function showExploration(explorationNumber) {
            let modal = document.getElementById('explorationModal');
            let modalBody = document.getElementById('explorationModalBody');
            
            explorations[explorationNumber].interactionList.forEach((action, index)=> {
                let p = document.createElement('p');
                let actionText = `[${index}] ${action.kind} `;
                if (action.value !== undefined) {
                    actionText += `$ ${action.value}`;
                }
                p.appendChild(document.createElement('span').appendChild(document.createTextNode(actionText)));
                modalBody.appendChild(p);
            })
            $('#explorationModal').modal('show')
        }
    </script>
</html>