<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include('../partials/head', {account}) %>
  </head>
  <body>
    <%- include('../partials/nav', {account}) %>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4 content-title">Welcome <%= account.username%> !</h1>
        <hr class="my-4"></hr>
        <h2>Create a New Session</h2>
        <form name="sessionForm" action="/dashboard/session/create" method="post" id="createSessionWithEmptyAI">
          <div class="form-group row" data-title="Name your session" data-intro="This name helps you to identify the session !">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" form="createSessionWithEmptyAI" name="name" id="name" placeholder="MySession" required>
            </div>
          </div>

          <input type="hidden" name="webSiteId" id="webSiteId" class="form-control" value="<%=JSON.parse(webSiteList)[0].id %>" form="createSessionWithEmptyAI" required></select>
          <!-- <div class="form-group row" data-title="Select a configuration" data-intro="Choose a configuration depending on the events you want to trace !">
            <label for="webSiteId" class="col-sm-2 col-form-label">Configuration</label>
            <div class="col-sm-10">
              <select name="webSiteId" id="webSiteId" class="form-control"  form="createSessionWithEmptyAI" required>
                <% JSON.parse(webSiteList).forEach(function(webSite) { %>
                  <%if (webSite.name === defaultWebSiteName) { %>
                      <option value="<%=webSite.id %>" selected="selected"> <%=webSite.name %> </option>
                    <% } else{ %>
                      <option value="<%=webSite.id %>"> <%=webSite.name %> </option>
                  <% } %>
                <%})%>
              </select>
            </div>
          </div>
          -->
          

          <div class="form-group row" data-title="Set the URL of the web application" data-intro="Set the URL where your explorations will be realized !">
            <label for="baseURL" class="col-sm-2 col-form-label">Web application URL</label>
            <div class="col-sm-10">
              <input type="url" class="form-control" form="createSessionWithEmptyAI" name="baseURL" id="baseURL" placeholder="https://www.mon_site.fr" required>
              <small id="urlHelper" class="form-text text-muted">URL of the web application under test.</small>
            </div>
          </div>

          <div class="form-group row" data-title="Give a description" data-intro="The description will be read by the testers. Make your instructions clear.">
            <label class="form-label col-sm-2" for="description" >Description</label>
            <div class="col-sm-10">
              <textarea name="description" rows="15" cols="60" id="description" required>
# Session objectives
short description of the session (with Mark Down language)

## main steps
* step 1

              </textarea>
            </div>

          </div>

          <input type="hidden" value="rainbow" class="form-control" aria-label="Default select example" name="overlayType" id="overlayType" form="createSessionWithEmptyAI" required>
          <!--<div class="form-group row" data-title="Set the overlay" data-intro="This sets if the extention visually helps the testers (shadow means not) !">
            <label for="overlayType" class="col-sm-2 col-form-label">Overlay</label>
            <div class="col-sm-10">
              <select class="form-control" aria-label="Default select example" name="overlayType" id="overlayType" form="createSessionWithEmptyAI" required>
                <option selected value="rainbow"> Rainbow </option>
                <option value="shadow">Shadow</option>
              </select>
              <small class="form-text text-muted"> <b>Rainbow</b>, AIFEX extension highlights with colors the elements that have been touched to help the testers to improve the diversity.</small>
              <small class="form-text text-muted"> <b>Shadow</b>, AIFEX extension does not highlight elements.</small>
            </div>
          </div> -->

          <input type="hidden" value="byinteraction" class="form-control" aria-label="Default select example" name="recordingMode" id="recordingMode" form="createSessionWithEmptyAI" required>
          <!--<div class="form-group row" data-title="Select a recording mode" data-intro="It's up to you if you want AIFEX to record your actions step by step or once all have been done !">
            <label for="recordingMode" class="col-sm-2 col-form-label">Recording Mode</label>
            <div class="col-sm-10">
              <select class="form-control" aria-label="Default select example" name="recordingMode" id="recordingMode" form="createSessionWithEmptyAI" required>
                <option selected value="byexploration"> By Exploration </option>
                <option value="byinteraction">By Interaction</option>
              </select>
              <small class="form-text text-muted"> <b>By Exploration</b>, the exploration is recorded (sent to the server) once the "stop" button of the AIFEX extension has been clicked.</small>
              <small class="form-text text-muted"> <b>By Interaction</b>, the exploration is always recorded, each new interaction is recorded.</small>
            </div>
          </div> 
          -->

          <button type="submit" class="btn btn-primary" id="submit" data-title="It's done !" data-intro="Click the <em>Create</em> button and run your session !">Create</button>
        </form>
      </div>
    </div>
  </body>

  <script>
    window.addEventListener('load', function() {
      var form = document.getElementsByTagName('form')[0];
      form.addEventListener("submit",(e) => {
        if (form.checkValidity() === false) {
          event.stopPropagation();
          event.preventDefault();
        }
      })
      form.classList.add('was-validated');
    }, false);
  </script>
  <script>
    introJs().start();
  </script>
</html>
