<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css" />
    </head>
    <body>
        <% include ../partials/nav %>
        <div class="container" id="ngramView"">
            <div class="jumbotron">
                <h1 class="display-4">AIFEX </h1>
                <p class="lead">Improve the quality, efficiency and diversity of your exploratory test sessions</p>
                <hr class="my-4"></hr>
                <h3>
                    All Ngrams for Session (<a href="/dashboard/session/view/<%=connectionCode %>">Back to Session Dashboard</a>)
                </h3>
               
                <% if (ngrams.length === 0) { %>
                    <h4 class="alert-heading">No ngram</h4>
                    <div class="alert alert-success" role="alert">
                        <p>The model <%= modelId %> does not contain any Ngram yet.</p>
                        <hr>
                        <p class="mb-0">Refresh this page to check if any Ngrams have been added to the model.</p>
                    </div>
                <% }  else { %>
                   
                    <table id="coverageTable" class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" align="center">N</th>
                                <th scope="col" align="center">Actions</th>
                                <th scope="col" align="center">Occurences</th>
                                <th scope="col" align="center">Comments</th>

                            </tr>
                        </thead>
                        <tbody >
                            <% for (let ngram of ngrams) { %>
                                <tr>
                                    <td><%= ngram.n %></td>
                                    <td><%= ngram.key %></td>
                                    <td><%= ngram.occurence %></td>
                                    <td><% for (comment of ngram.nextComments) { %>
                                        <%= `${comment.key} (${comment.occurence})` %>
                                        <% } %>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody >
                    </table>
                <% } %>
            </div>
        </div>
    </body>

    <script>
        $(document).ready(function() {
            $('#coverageTable').DataTable();
        } );
    </script>
    
    
</html>