<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">AIFEX </h1>
        <p class="lead">Improve the quality, efficiency and diversity of your exploratory test sessions</p>
        <hr class="my-4"></hr>
        <h2>Update Session</h2>
        <form name="sessionForm" action="/dashboard/session/update" method="post" id="createSessionWithEmptyAI">
          <div class="form-group row">
            <label for="webSiteId" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" form="createSessionWithEmptyAI" name="name" id="name" value="MySession">
            </div>
          </div>

          <div class="form-group row" >
            <label for="webSiteId" class="col-sm-2 col-form-label">WebSite</label>
            <div class="col-sm-10">
              <select name="webSiteId" id="webSiteId" class="form-control" form="createSessionWithEmptyAI">
                <% JSON.parse(webSiteList).forEach(function(webSite) { %>
                  <%if (webSite.name === defaultWebSiteName) { %>
                      <option value="<%=webSite.id %>" selected="selected"> <%=webSite.name %> </option>
                    <% } else{ %>
                      <option value="<%=webSite.id %>"> <%=webSite.name %> </option>
                  <% } %>
                <%})%>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="baseURL" class="col-sm-2 col-form-label">Exploration starting URL</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" form="createSessionWithEmptyAI" name="baseURL" id="baseURL" urls="<%=webSiteURLList%>" >
              <small id="urlHelper" class="form-text text-muted">The testers' starting point.</small>
            </div>
          </div>

          <div class="form-group row">
            <label class="form-label col-sm-2" for="description" >Description</label>
            <div class="col-sm-10">
              <textarea name="description" rows="7" cols="33" id="description">Describe the session here !</textarea>
            </div>

          </div>

          <div class="form-group row">
            <label for="overlayType" class="col-sm-2 col-form-label">Overlay</label>
            <div class="col-sm-10">
              <select class="form-control" aria-label="Default select example" name="overlayType" form="createSessionWithEmptyAI">
                <option selected value="rainbow"> Rainbow </option>
                <option value="bluesky">Bluesky</option>
                <option value="shadow">Shadow</option>
              </select>
              <small class="form-text text-muted"> <b>Rainbow</b>, recorded actions are blue, green, orange or red to help you to improve the diversity.</small>
              <small class="form-text text-muted"> <b>Bluesky</b>, recorded actions are blue.</small>
              <small class="form-text text-muted"> <b>Shadow</b>, does not show any color, but actions are still recorded.</small>
            </div>

          </div>

          <button type="submit" class="btn btn-primary">Create</button>
        </form>
      </div>
    </div>
  </body>
  <script>

    let input = document.getElementById('webSiteId');
    let text = document.getElementById('baseURL');
    text.value = JSON.parse(text.getAttribute("urls"))[input.selectedIndex];
    input.onclick = (e) => {
      text.value = JSON.parse(text.getAttribute("urls"))[input.selectedIndex];
    };

  </script>
</html>
