<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/nav %>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">AIFEX </h1>
            <p class="lead">Improve the quality, efficiency and diversity of your exploratory test sessions</p>
            <hr class="my-4"></hr>
            <% if (session.name) { %>
                <h3>
                    Dashboard for session : <%= session.name%> <a href="/account/account">(Go back to your dashboard)</a>
                </h3>
            <% } else { %>
                <h3>Dashboard for session : unamed <a href="/account/account">(Go back to your dashboard)</a></h3>
            <% } %>

            <div>
                <input type="checkbox" id="isPublicCheckbox" <% if (isSessionPublic) { %> checked <% } %> >
                <label for="isPublicCheckbox">is public</label>
            </div>

            <div>
                Target WebSite : <span><a href="<%= session.baseURL%>"> <%= session.webSite.name%></span></a>
            </div>
            <div>
                Testers : <span><%= session.participants.length %></a>
            </div>
            <div>
                Overlay : <span><%= session.overlayType%></span>
            </div>
                <!-- <div>
                    Evaluator :  
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <% if (evaluator) { %>
                            <a type="button" href="/dashboard/evaluator/<%=session.id %>" class="btn btn-secondary">Update</a>
                            <a type="button" href="/dashboard/evaluator/remove/<%=session.id %>"  onclick="return confirm('Do you want to remove the Evaluator of this session?')" class="btn btn-danger">Remove</a>
                        <% } else { %>
                            <a type="button" href="/dashboard/evaluator/<%=session.id %>" class="btn btn-secondary">Create</a
                        <% } %>
                    </div>
                </div>
                <div>
                </div> -->

            <div>
                Automated Script : <a href="/dashboard/session/<%=connectionCode %>/print"><i class="fas fa-file"></i></a>
            </div>
            <div>
                 URL : <input type="text" id="serverURL" class="inputSessionURL" value="<%=serverURL %>" readonly> </input><i id="copy" title="Copy in clipboard" data-toggle="tooltip" data-placement="right" onclick="copy(this)" class="fas fa-copy copy-icon"></i>
            </div>
            
            <br></br>

            <div class="row">
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img src="/static/images/icons/noun_exploration_2617799.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><%= session.explorationList.length %> Explorations</h5>
                            <a href="/dashboard/session/<%=connectionCode %>/explorations" class="btn btn-primary">See all explorations</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img src="/static/images/icons/noun_comment_1117425.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><%= session.explorationList.map(explo => explo.interactionList.filter(interaction => interaction.concreteType === "Comment")).reduce((acc, curr) => acc+curr.length, 0) %> Comments</h5>
                            <a href="/dashboard/session/<%=connectionCode %>/comments" class="btn btn-primary">See all comments</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img src="/static/images/icons/noun_customer_3761687.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Several Usage Patterns</h5>
                            <a href="/dashboard/session/<%=connectionCode %>/ngrams" class="btn btn-primary">See all usage patterns</a>
                        </div>
                    </div>
                </div>

            </div>

            <br></br>
            <% const NUMBER_OF_EXPLORATION_TO_SHOW = 5;%>
            <h3>Last <%= NUMBER_OF_EXPLORATION_TO_SHOW%> performed explorations</h3>
            <table id="session-details" class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" align="center">#</th>
                        <th scope="col" align="center">Date</th>
                        <th scope="col" align="center">Tester</th>
                        <th scope="col" align="center">Exploration</th>
                        <th scope="col" align="center">Video</th>
                    </tr>
                </thead>
                <tbody>
                    <% const explorations = session.explorationList.sort((a, b)=> new Date(b.startDate) - new Date(a.startDate));%>
                    <% for (let explIndex = 0 ; explIndex < Math.min(NUMBER_OF_EXPLORATION_TO_SHOW,explorations.length) ; explIndex++) { %>
                        <%  let exploration = explorations[explIndex]; %>
                        <tr>
                            <td>
                                <%= exploration.explorationNumber %>
                            </td>
                            <td>
                                <% var explorationStartDate=new Date(exploration.startDate) ;
                                    console.log(exploration.interactionList[0]); 
                                    var interactionListStartDate; 
                                    if (exploration.interactionList[0]) {
                                        interactionListStartDate=new Date(exploration.interactionList[0].date) ;
                                    } else {
                                        interactionListStartDate=new Date(); 
                                    } 
                                    var startDate ; 
                                    if (explorationStartDate.getTime() <=interactionListStartDate.getTime()) {
                                        startDate=explorationStartDate; 
                                    } else {
                                        startDate=interactionListStartDate; 
                                    } 
                                %>
                                <%= startDate.toUTCString() %>
                            </td>
                            <td scope="row">
                                <%= exploration.testerName %>
                            </td>
                            <td>
                                <% exploration.interactionList.forEach((interaction, intIndex)=> { %>
                                    <p>
                                        <% if (screenshot.screenshotList.find(sc=> sc.explorationNumber == exploration.explorationNumber && sc.interactionIndex == intIndex)) { %>
                                            <a href="/static/screenshot/<%=session.id%>_<%=exploration.explorationNumber%>_<%=intIndex%>.jpg">
                                        <% } %>

                                        <span class="<%= interaction.concreteType%>">
                                            <span class="actionIndex"> [ <%= intIndex %> ] - </span>
                                            <span class="kind"> <%= interaction.kind %> </span>
                                                            
                                            <% if (interaction.value !== undefined) { %>
                                                <span class="value"> <%= interaction.value %> </span>
                                            <%}%>
                                            <span class="date">(time : <%= (new Date(interaction.date)).getTime() - startDate.getTime() %> ms)</span>
                                        </span>

                                        <% if (screenshot.screenshotList.find(sc=> sc.explorationNumber == exploration.explorationNumber && sc.interactionIndex == intIndex)) { %>
                                        </a>
                                        <% } %>
                                    </p>
                                <%})%>
                            </td>
                            <td>
                                <% if (video.videoList.find(vi=> vi.explorationNumber == exploration.explorationNumber)) { %>
                                    <a href="/static/video/<%=session.id%>_<%=exploration.explorationNumber%>.webm"><i class="fas fa-video" style="color:red"></i></a>
                                <% } else { %>
                                    <i class="fas fa-video-slash"></i>
                                <% } %>
                            </td>
                        </tr>
                    <%}%>
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script defer>
        function copy() {
            var copyText = document.getElementById("serverURL");
            copyText.select();
            document.execCommand("copy");
        }
        document.getElementById("copy").addEventListener("click", copy);
    </script>

    <script defer>
        document.getElementById('isPublicCheckbox').addEventListener('click', (event) => {
            let URL = "/dashboard/public/connexionCode"
            fetch(URL, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    isPublic: event.target.checked,
                    sessionId:"<%= session.id %>",
                    modelId:"<%= connectionCode.split('$')[1]%>",
                    webSiteId:"<%=session.webSite.id %>"
                })
            }).then((response) => {
                console.log(response);
            })
        });
    </script>

</body>

</html>