<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <script src="/static/chart.min.js"></script>
</head>

<body>
    <% include ../partials/nav %>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">AIFEX </h1>
            <p class="lead">Improve the quality, efficiency and diversity of your exploratory test sessions</p>
            <hr class="my-4"></hr>
            <% if (session.name) { %>
                <h3>Session : <%= session.name%> <a href="/dashboard/session/update/<%=connectionCode %>" ><i class="fas fa-wrench"></i></a></h3>
                
            <% } else { %>
                <h3>Session : Unamed </a></h3>
            <% } %>

            <div class="row">
                <div class="col-sm-12">
                 Connection Code / URL : <input type="text" id="serverURL" value="<%=serverURL %>" size=60 readonly> </input><i id="copy" title="Copy in clipboard" data-toggle="tooltip" data-placement="right" onclick="copy(this)" class="fas fa-copy copy-icon"></i>
                </div>
            </div>
            
            <br></br>

            <%if (session.explorationList.length === 0) { %>
                <div class="alert alert-warning" role="alert">
                    <strong>Warning!</strong> No exploration has been added to this session.
                </div>
            <% } else { %>


                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <canvas id="explorationChart"></canvas>
                            <script>
                                const explorationChartCanvas = document.getElementById('explorationChart');
                                const numbOfExplorationWithBugReport = <%= session.explorationList.map(explo => explo.interactionList.some(inter => inter.concreteType !== 'Action')).reduce((prev,cur) => cur?prev+1:prev,0) %>;
                                const numbOfExplorationWithoutBugReport = <%= session.explorationList.length %> - numbOfExplorationWithBugReport;
                                const explorationChart = new Chart(explorationChartCanvas, {
                                    type: 'doughnut',
                                    data: {                    
                                        labels: [
                                            'Green',
                                            'Red'
                                        ],
                                        datasets: [{
                                            label: 'Explorations',
                                            data: [numbOfExplorationWithoutBugReport, numbOfExplorationWithBugReport],
                                            backgroundColor: [
                                            'rgb(0, 204, 0)',
                                            'rgb(204, 0, 0)',
                                            ],
                                            hoverOffset: 4
                                        }]
                                    }
                                });
                            </script>
                            <div class="card-body">
                                <h5 class="card-title"><%= session.explorationList.length %> Explorations</h5>
                                <a href="/dashboard/session/<%=connectionCode %>/explorations" class="btn btn-primary">See all explorations</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="card" >
                            <canvas id="bugReportChart"></canvas>
                            <script>
                                const bugReportChartCanvas = document.getElementById('bugReportChart');
                                const numbOfEnhancement = <%= session.explorationList.map(explo => explo.interactionList.some(inter => inter.kind == 'Enhancement')).reduce((prev,cur) => cur?prev+1:prev,0) %>;
                                const numbOfLow = <%= session.explorationList.map(explo => explo.interactionList.some(inter => inter.kind == 'Low')).reduce((prev,cur) => cur?prev+1:prev,0) %>;
                                const numbOfMinor = <%= session.explorationList.map(explo => explo.interactionList.some(inter => inter.kind == 'Minor')).reduce((prev,cur) => cur?prev+1:prev,0) %>;
                                const numbOfMajor = <%= session.explorationList.map(explo => explo.interactionList.some(inter => inter.kind == 'Major')).reduce((prev,cur) => cur?prev+1:prev,0) %>;
                                const numbOfCritical = <%= session.explorationList.map(explo => explo.interactionList.some(inter => inter.kind == 'Critical')).reduce((prev,cur) => cur?prev+1:prev,0) %>;
                                const numbOfBlocker = <%= session.explorationList.map(explo => explo.interactionList.some(inter => inter.kind == 'Blocker')).reduce((prev,cur) => cur?prev+1:prev,0) %>;

                                
                                const bugReportChart = new Chart(bugReportChartCanvas, {
                                    type: 'doughnut',
                                    data: {                    
                                        labels: [
                                            'Enhancement',
                                            'Low',
                                            'Minor',
                                            'Major',
                                            'Critical',
                                            'Blocker',
                                            
                                        ],
                                        datasets: [{
                                            label: 'Bug Severity',
                                            data: [numbOfEnhancement, numbOfLow, numbOfMinor, numbOfMajor, numbOfCritical, numbOfBlocker],
                                            backgroundColor: [
                                            'rgb(204, 204, 0)',
                                            'rgb(0, 204, 0)',
                                            'rgb(0, 128, 255)',
                                            'rgb(255, 128, 0)',
                                            'rgb(255, 51, 51)',
                                            'rgb(204, 0, 0)',
                                            ],
                                            hoverOffset: 4
                                        }]
                                    }
                                });
                            </script>
                            <div class="card-body">
                                <h5 class="card-title"><%= session.explorationList.map(explo => explo.interactionList.filter(interaction => interaction.concreteType === "Comment")).reduce((acc, curr) => acc+curr.length, 0) %> Bug Reports</h5>
                                <a href="/dashboard/session/<%=connectionCode %>/comments" class="btn btn-primary">See all Bug Reports</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-12 d-flex justify-content-center">
                        <% include ./crossEntropy %>
                    </div>
                </div>


                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img src="/static/images/icons/noun_customer_3761687.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Several Usage Patterns</h5>
                            <a href="/dashboard/session/<%=connectionCode %>/ngrams" class="btn btn-primary">See all usage patterns</a>
                        </div>
                    </div>
                </div>
            <% } %>


            
        </div>
    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script defer>
        function copy() {
            var copyText = document.getElementById("serverURL");
            copyText.select();
            document.execCommand("copy");
        }
        document.getElementById("copy").addEventListener("click", copy);
    </script>

</body>

</html>