<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <script src="/static/lib/chart.min.js"></script>
</head>

<body>
    <% include ../partials/nav %>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4 content-title">Session : <%= session.name ? session.name : "Unamed" %></h1>
            <hr class="my-4"></hr>
            
            <div class="show-hide-bar" id="connection-mode-show-bar">
                Show connection mode 
                <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 7L7.70711 7.70711L7 8.41421L6.29289 7.70711L7 7ZM13.7071 1.70711L7.70711 7.70711L6.29289 6.29289L12.2929 0.292893L13.7071 1.70711ZM6.29289 7.70711L0.292893 1.70711L1.70711 0.292894L7.70711 6.29289L6.29289 7.70711Z" fill="#323232"/>
                </svg>
            </div>
            <div class="show-hide-bar" id="connection-mode-hide-bar">
                Hide connection mode
                <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 2L6.29289 1.29289L7 0.585786L7.70711 1.29289L7 2ZM0.292893 7.29289L6.29289 1.29289L7.70711 2.70711L1.70711 8.70711L0.292893 7.29289ZM7.70711 1.29289L13.7071 7.29289L12.2929 8.70711L6.29289 2.70711L7.70711 1.29289Z" fill="#323232"/>
                </svg>
            </div>
            <div id="connection-mode" class="session-card" style="background-color: white;">
                <h4>Run your session with our browser extension</h4>
                <div>Download one of our browser extensions</div>
                <span class="session-value"> <a href="/download">Download page</a></span>
                <div>Join the session with this connection code</div>
                <div id="copy-connection-code">
                    <input type="text" class="session-value session-noinput" id="serverURL" value="<%=serverURL %>" readonly></input><i title="Copy in clipboard" data-toggle="tooltip" data-placement="right" class="fas fa-copy copy-icon"></i>
                </div>
                <br>
                <h4>Or even link your session with your web application</h4>
                <div>Include this script in all the pages of your web application</div>
                <span class="session-value"> &lt;script id="AIFEX" connexion-url="<%=serverURL %>" src="https://www.aifex.fr/static/AIFEXScript.js" defer&gt;&lt;/script&gt;</span>
            </div>

            

            
            
            <%if (session.explorationList.length === 0) { %>
                <div class="alert alert-warning" role="alert">
                    <strong>Warning!</strong> No exploration performed yet.
                </div>
            <% } else { %>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <a href="/dashboard/session/<%=connectionCode %>/explorations"><canvas id="explorationChart"></canvas></a>
                                <script>
                                    const explorationChartCanvas = document.getElementById('explorationChart');
                                    const numbOfExplorationWithBugReport = <%= session.explorationList.map(explo => explo.interactionList.some(inter => inter.concreteType !== 'Action')).reduce((prev,cur) => cur?prev+1:prev,0) %>;
                                    const numbOfExplorationWithoutBugReport = <%= session.explorationList.length %> - numbOfExplorationWithBugReport;
                                    const explorationChart = new Chart(explorationChartCanvas, {
                                        type: 'doughnut',
                                        data: {                    
                                            labels: [
                                                'WithoutReport',
                                                'WithReport',
                                            ],
                                            datasets: [{
                                                label: 'Explorations',
                                                data: [numbOfExplorationWithoutBugReport, numbOfExplorationWithBugReport],
                                                backgroundColor: [
                                                'rgb(0, 204, 0)',
                                                'rgb(204, 0, 0)',
                                                ],
                                                hoverOffset: 4
                                            }]
                                        },
                                        options: {
                                            responsive: true,
                                            plugins: {
                                                legend: {
                                                    position: 'top'
                                                },
                                                title: {
                                                    display: true,
                                                    text: '<%= session.explorationList.length %> Explorations',
                                                    font: {
                                                        size: 26
                                                    }
                                                }
                                            }
                                        }
                                    });
                                </script>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="card" >
                            <div class="card-body">
                                <a href="/dashboard/session/<%=connectionCode %>/comments"><canvas id="bugReportChart"></canvas></a>
                                <script>
                                    const bugReportChartCanvas = document.getElementById('bugReportChart');
                                    const numbOfEnhancement = <%= session.explorationList.map(explo => explo.interactionList.some(inter => inter.kind == 'Enhancement')).reduce((prev,cur) => cur?prev+1:prev,0) %>;
                                    const numbOfLow = <%= session.explorationList.map(explo => explo.interactionList.some(inter => inter.kind == 'Low')).reduce((prev,cur) => cur?prev+1:prev,0) %>;
                                    const numbOfMinor = <%= session.explorationList.map(explo => explo.interactionList.some(inter => inter.kind == 'Minor')).reduce((prev,cur) => cur?prev+1:prev,0) %>;
                                    const numbOfMajor = <%= session.explorationList.map(explo => explo.interactionList.some(inter => inter.kind == 'Major')).reduce((prev,cur) => cur?prev+1:prev,0) %>;
                                    const numbOfCritical = <%= session.explorationList.map(explo => explo.interactionList.some(inter => inter.kind == 'Critical')).reduce((prev,cur) => cur?prev+1:prev,0) %>;
                                    const numbOfBlocker = <%= session.explorationList.map(explo => explo.interactionList.some(inter => inter.kind == 'Blocker')).reduce((prev,cur) => cur?prev+1:prev,0) %>;

                                    
                                    const bugReportChart = new Chart(bugReportChartCanvas, {
                                        type: 'doughnut',
                                        data: {                    
                                            labels: [
                                                'Enhancement',
                                                'Low',
                                                'Minor',
                                                'Major',
                                                'Critical',
                                                'Blocker',
                                                
                                            ],
                                            datasets: [{
                                                label: 'Bug Severity',
                                                data: [numbOfEnhancement, numbOfLow, numbOfMinor, numbOfMajor, numbOfCritical, numbOfBlocker],
                                                backgroundColor: [
                                                'rgb(204, 204, 0)',
                                                'rgb(0, 204, 0)',
                                                'rgb(0, 128, 255)',
                                                'rgb(255, 128, 0)',
                                                'rgb(255, 51, 51)',
                                                'rgb(204, 0, 0)',
                                                ],
                                                hoverOffset: 4
                                            }]
                                        },
                                        options: {
                                            responsive: true,
                                            plugins: {
                                                legend: {
                                                    position: 'top'
                                                },
                                                title: {
                                                    display: true,
                                                    text: '<%= session.explorationList.map(explo => explo.interactionList.filter(interaction => interaction.concreteType === "Comment")).reduce((acc, curr) => acc+curr.length, 0) %> Bug Reports',
                                                    font: {
                                                        size: 26
                                                    }
                                                }
                                            }
                                        }
                                    });
                                </script>
                            </div>
                        </div>
                    </div>

                </div>

                <br></br>

                <div class="row">
                    <div class="col-sm-12 justify-content-center">
                        <% include ./crossEntropy %>
                    </div>
                </div>

                <br></br>

                <div class="row">
                    <div class="col-sm-12 d-flex justify-content-center">
                        <div class="card" style="width: 18rem;">
                            <img src="/static/images/icons/noun_customer_3761687.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Exploration Analysis</h5>
                                <a href="/dashboard/session/<%=connectionCode %>/ngrams" class="btn btn-primary">See all usage patterns</a>
                            </div>
                        </div>
                    </div>
                </div>

            <% } %>
            
        </div>
    </div>

    <script defer>
        function copyServerURL() {
            var copyText = document.getElementById("serverURL");
            copyText.select();
            document.execCommand("copy");
        }
        document.getElementById("copy-connection-code").addEventListener("click", copyServerURL);
    </script>

    <script defer>
        let numberOfExplorations = parseInt(<%=session.explorationList.length%>);
        let showConnectionMode = numberOfExplorations === 0 ? true : false;
        let connectionModeElement = document.getElementById('connection-mode');
        let connectionModeShowBar = document.getElementById('connection-mode-show-bar');
        let connectionModeHideBar = document.getElementById('connection-mode-hide-bar');
        if (!showConnectionMode) {
            connectionModeElement.style.display = 'none';
            connectionModeShowBar.style.display = 'block';
            connectionModeHideBar.style.display = 'none';
        } else {
            connectionModeElement.style.display = 'block';
            connectionModeShowBar.style.display = 'none';
            connectionModeHideBar.style.display = 'block';
        }
        connectionModeHideBar.addEventListener('click', () => {
            connectionModeElement.style.display = 'none';
            connectionModeShowBar.style.display = 'block';
            connectionModeHideBar.style.display = 'none';
        });
        connectionModeShowBar.addEventListener('click', () => {
            connectionModeElement.style.display = 'block';
            connectionModeShowBar.style.display = 'none';
            connectionModeHideBar.style.display = 'block';
        });
        
    </script>

</body>

</html>