<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include('../partials/head', {account}) %>
      <script>
        function copy(target) {
          console.log('copy');
          var copyText = target.parentNode.querySelector('input');
          console.log(copyText);
          copyText.select();
          document.execCommand("copy");
        }
      </script>
  </head>
  <body>
    <%- include('../partials/nav', {account}) %>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4 content-title">Welcome <%= account.username%> !</h1>
        <a role="button" id="viewWebsites" class="btn btn-primary content-title-button" href="/dashboard/website/view">Configuration</a>
        <hr class="my-4"></hr>
      
        <div id="session-cards-container">
          <h3 class="content-title"> Your Session(s)</h3>
          <a data-title="Welcome <%= account.username%> !" data-intro="Begin by designing your first session.<br/> Just click on the <em>new session</em> button" role="button" id="createSessionButton" class="btn btn-primary content-title-button" href="/dashboard/session/create">New Session</a>
          <% sessionIdList.forEach((sessionId,i) => { %>
            <div class="session-card">
              <h4 class="session-name"><%= sessionList[i].name ? sessionList[i].name : "Unamed" %></h4>
              <a class="session-action" href="/dashboard/session/update/<%=sessionId %>" data-toggle="tooltip" data-placement="top" title="Update session"><i class="fas fa-wrench"></i></a>
              <a class="session-action" sessionAction="download-session" sessionId="<%=sessionId %>" href="/" data-toggle="tooltip" data-placement="top" title="Download session"><i class="fas fa-download"></i></a>
              <a class="session-action" sessionAction="download-session-gravity" sessionId="<%=sessionId %>" href="/" data-toggle="tooltip" data-placement="top" title="Export session for Gravity"><image width="17px" height="17px" src="/static/images/icons/gravity.svg"></image></a>
              <a class="session-action" href="/dashboard/session/remove/<%= connectionCodeList[i] %>" data-toggle="tooltip" data-placement="top" title="Remove session"><i class="fas fa-trash-alt"></i></a>
              <hr class="my-2"></hr>
              <div class="session-card-left-container">
                <div class="session-exploration">
                  <div>#Exploration</div>
                  <div class="session-value"><%= sessionList[i].explorationList.length %></div>
                </div>
                <div class="session-configuration">
                  <div>Configuration</div>
                  <div class="session-value"><a href="/dashboard/website/update/<%=sessionList[i].webSite.id %>"><%= sessionList[i].webSite.name %></a></div>
                </div>
                <div>
                  <div>Connexion URL</div>
                  <input type="text" class="session-value session-noinput" value="<%= serveurURLList[i] %>" readonly></input><i title="Copy in clipboard" data-toggle="tooltip" data-placement="right" onclick="copy(this)" class="fas fa-copy copy-icon fa-2x"></i>
                </div>
              </div>
              <div class="session-card-right-container">
                <span><a href="/dashboard/session/view/<%= connectionCodeList[i] %>" ><i class="fas fa-brain fa-5x"></i></a></span>
                <div class="session-card-right-text">Analyze</div>
              </div>
            </div>
          <% }) %>
        </div>
        
      </div>
    </div>

    <script>
      window.onload = function() {

        $('[data-toggle="tooltip"]').tooltip({})

        let ruleList = document.querySelectorAll('.mapping-rule');
        ruleList.forEach( rule => {
          let a = rule.querySelector('a');
          let span = rule.querySelector('span');
          let mappingRuleList = JSON.parse(span.innerText);
          let toSave= mappingRuleList.map(mappingRule => {
            return {
              match: mappingRule.match, 
              output:mappingRule.output
            };
          });
          let name = rule.getAttribute("name");
          let data = "text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(toSave));
          a.href = 'data:' + data;
          a.download = name+'.json';
        });   

        let sessionList = document.querySelectorAll('[sessionAction="download-session"]');
        sessionList.forEach( session => {
          let sessionId = session.getAttribute('sessionId');
          if (sessionId !== undefined) {
            const URL = "/dashboard/session/"+sessionId+"/json/";
            fetch(URL)
              .then(response => {
                if (response.ok) {
                  response.json()
                    .then( sessionToSave => {
                      let data = "text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(sessionToSave));
                      session.href = 'data:' + data;
                      session.download = 'session_'+sessionId+'.json';
                    })
                }
              })
          }
        })

        sessionList = document.querySelectorAll('[sessionAction="download-session-gravity"]');
        sessionList.forEach( session => {
          let sessionId = session.getAttribute('sessionId');
          if (sessionId !== undefined) {
            const URL = "/dashboard/session/"+sessionId+"/gravityJson/";
            fetch(URL)
              .then(response => {
                if (response.ok) {
                  response.json()
                    .then( sessionToSave => {
                      let data = "text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(sessionToSave));
                      session.href = 'data:' + data;
                      session.download = 'session_'+sessionId+'.json';
                    })
                }
              })
          }
        })
      }
    </script>
  </body> 
  <script>
    if (document.querySelectorAll('.session-card').length === 0) {
      introJs().start();
    }
  </script>
</html>